<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card *ngFor="let card of cards" (click)="openDetail(card)">
      <ion-card-header>
        <ion-card-title>{{card.name || 'No Name'}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{card | json}}
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
